#calc {
  background-color: #7bb569;
  color: #f9f9f9;
  .calc-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 85px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      padding: 24px 41px;
    }

    .calc-svg {
      svg {
        margin-right: 40px;
        margin-left: 30px;
        @media screen and (max-width: 992px) {
          width: 24px;
          height: 32px;

          margin-right: 0;
          margin-left: 0;
          margin-bottom: 12px;
        }
      }
    }

    .text-container {
      margin-right: 283px;

      @media screen and (max-width: 1200px) {
        margin-right: 0px;
      }
      @media screen and (max-width: 992px) {
        text-align: center;
        width: 280px;
      }

      @media screen and (max-width: 450px) {
        width: 100%;
      }

      h3 {
        font-family: "Russo One";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #fbfbfb;

        @media screen and (max-width: 992px) {
          font-size: 20px;
          line-height: 24px;
          text-align: center;
        }
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #fbfbfb;

        @media screen and (max-width: 992px) {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }

    .calc-btn {
      @media screen and (max-width: 450px) {
        width: 100%;
      }

      text-decoration: none;
      button {
        width: 210px;
        height: 65px;
        background-color: #f9f9f9;
        border-radius: 10px;
        border: none;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #7bb569;
        transition: all 0.3s ease;

        @media screen and (max-width: 992px) {
          width: 178px;
          height: 60px;

          font-size: 16px;
          line-height: 24px;
        }

        @media screen and (max-width: 450px) {
          width: 100%;
        }
      }
    }
  }

  #calculator {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 992px) {
      padding: 20px;
      flex-direction: column;
    }

    .icon-container {
      position: absolute;
      top: 40px;
      right: 40px;
      cursor: pointer;

      @media screen and (max-width: 992px) {
        top: 20px;
        right: 20px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      @media screen and (max-width: 450px) {
        top: 10px;
        right: 10px;

        svg {
          width: 17px;
          height: 17px;
        }
      }

      svg {
        width: 25px;
        height: 25px;
        color: #1e1e1e;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .age,
      .gender,
      .height,
      .weight {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 398px;

        @media screen and (max-width: 992px) {
          width: 100%;
        }
        @media screen and (max-width: 450px) {
          width: 85%;
        }

        label {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          color: #1e1e1e;

          @media screen and (max-width: 992px) {
            font-size: 16px;
          }
        }

        input {
          width: 257px;
          height: 40px;
          border: 1px solid #1e1e1e;
          border-radius: 5px;
          padding: 6px;

          @media screen and (max-width: 992px) {
            width: 180px;
          }

          @media screen and (max-width: 450px) {
            height: 35px;
          }
        }
        span {
          position: absolute;
          top: 6px;
          right: 6px;

          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: rgba(50, 50, 50, 0.5);
        }
      }

      @media screen and (max-width: 450px) {
        width: 100%;
      }

      .gender {
        label {
          @media screen and (max-width: 992px) {
            margin-right: 60px;
          }
          @media screen and (max-width: 450px) {
            margin-right: 30px;
          }
        }
        .male,
        .female {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            margin-right: 10px;
          }
        }

        .male {
          margin-right: 34px;
          @media screen and (max-width: 450px) {
            margin-right: 15px;
          }
        }

        .gender-type {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #1e1e1e;
          @media screen and (max-width: 992px) {
            font-size: 14px;
          }
        }
      }

      .btns-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .calc {
          margin-right: 16px;
          button {
            width: 144px;
            height: 48px;
            background: #7bb569;
            border-radius: 10px;
            border: none;

            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #fbfbfb;

            @media screen and (max-width: 450px) {
              height: 40px;
            }
          }
        }
        .clear {
          button {
            width: 108px;
            height: 48px;
            background: #9b9b9b;
            border-radius: 10px;
            border: none;

            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #fbfbfb;

            @media screen and (max-width: 450px) {
              height: 40px;
            }
          }
        }
      }
    }

    .result {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #1e1e1e;

      @media screen and (max-width: 992px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }
  }
}
