@import url("https://fonts.cdnfonts.com/css/freestyle-script");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Russo+One&display=swap");

:root {
  --main-color: #1e1e1e;
  --sec-color: #7bb569;
  --main-font: "Poppins";
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 992px) {
  section {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}
